{% extends "base.html" %}

{% block content %}

<h1>Мои клиенты</h1>

<a href="{% url 'client_create' %}" class="btn btn-primary mb-3">
    Добавить клиента
</a>

<ul>
 {% for client in clients %}
    <li>
        Email: {{ client.email }}<br>
        ФИО: {{ client.FIO }}<br>
        Комментарий: {{ client.comment }}<br>

        {% if client.owner == request.user %}
            <a href="{% url 'client_update' client.pk %}">Редактировать</a>
            <a href="{% url 'client_delete' client.pk %}">Удалить</a>
        {% endif %}
    </li>
 {% empty %}
    <p class="text-muted">У вас пока нет клиентов.</p>
 {% endfor %}
</ul>

{% endblock %}
