<h1>Мои рассылки</h1>
<ul>
 {% for mailing in mailings %}
    <li>
        {{ mailing.start_datetime }} – {{ mailing.end_datetime }} ({{ mailing.status }})<br>
        Сообщение: {{ mailing.message.title }}<br>

        {% if mailing.owner == request.user %}
            <a href="{% url 'mailing_detail' mailing.pk %}">Просмотр</a>
            <a href="{% url 'mailing_update' mailing.pk %}">Редактировать</a>
            <a href="{% url 'mailing_delete' mailing.pk %}">Удалить</a>
        {% endif %}
    </li>
 {% endfor %}
</ul>